[submodule "test/riscv-compliance/riscv-compliance"]
	path = test/riscv-compliance/riscv-compliance
	url = https://github.com/riscv/riscv-compliance.git
[submodule "test/riscv-compliance/riscv-arch-test"]
	path = test/riscv-compliance/riscv-arch-test
	url = https://github.com/riscv/riscv-arch-test.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/Wren6991/fpgascripts
